@font-face {
    font-family: 'bembo_regular';
    src: url('../fonts/bembo__monotype_bold-webfont.woff2') format('woff2'),
         url('../fonts/bembo__monotype_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-italic';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-bembo_regular {
    font-family: 'bembo_regular', sans-serif;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
.font-montserrat-italic {
    
    font-family: 'Montserrat-italic', sans-serif;
}

.text-black{
    color: black;
}
.text-white{
    color: white;
}