#content{
    min-height: 100vh;
    color: black;
}



.wrapper-retailers{
    width: 80%;
    margin: 2rem auto;

}
.retailers-headers{
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
}

.retailers-headers h1{
    font-size: 3rem;
}

.retailers-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.header-country{
    grid-column: span 4;
    text-decoration: underline;
    margin: 1rem 0 0 0;
}


.row-retailers-region p{
	font-size:small;
	margin: 1rem 0;
}

.row-retailers-region p a:hover{
	text-decoration : underline;
	color: grey;
}


@media screen and (max-width: 768px){
	.row-retailers-region{
		grid-column: span 2;
	}
	.row-retailers-region p a{
		text-decoration: underline;
	}
}
